.container {
    display: inline-flex;
    flex-flow: column wrap;
    width: 100vw;
    height: 100vh;
}

div, form {
    flex-flow: row wrap;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 0px;
}

p {
    font-family: 'Lucida Sans', sans-serif;
}

form, h1, .articlesPanier {
    width: 50%;
}

label {
    border-bottom: 1px solid rgb(215, 215, 215);
    padding: 10px;
}

input[type="submit"] {
    border: 2px solid black;
    border-radius: 5px;
    padding: 2px;
    height: 25px;
    width: 120px;
    background-color: rgb(228, 255, 228);
}

input:hover {
    border: 2px solid rgb(0, 143, 7);
}

.menu {
    display: inline-flex;
    /* align-self: flex-end; */
    width: 50%;
    margin-right: 10px;
    bottom: 0;
    left: 0;
}

ul {
    width: auto;
    border: 2px solid black;
    border-radius: 5px;
    padding: 0px;
}

li {
    list-style-type: none;
    padding: 5px;
}

li a {
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

li a:hover {
    color: rgb(0, 128, 0);
    text-decoration: underline;
}

table {
    border: 2px solid black;
    width: 50vw;
    height: 25vh;
}

th {
    font-family: 'Lucida Sans', sans-serif;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.option {
    text-align: center;
    padding: 2px;
    margin: 5px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    color: black;
    text-decoration: none;
}

td {
    text-align: center;
}

.total {
    border-top: 1px solid rgb(0, 0, 0);
    font-size: 18px;
}

.total:nth-child(2), table td:nth-child(5), table th:nth-child(5) {
    border-left: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
}

tr:nth-child(even) {
    background-color: rgb(240, 240, 240);
}

table th:first-child, table td:first-child {
    border-right: 1px solid rgb(0, 0, 0);
}

.clear {
    font-family:Arial, Helvetica, sans-serif ;
    padding: 2px;
    border: 1px solid black;
    border-radius: 5px;
    color: rgb(182, 0, 0);
    text-decoration: none;
}

.clear:hover {
    border: 2px solid rgb(187, 0, 0);
}

.ajoutArticle {
    margin: 5px;
    padding: 3px;
    border: 2px solid rgb(36, 87, 255);
    border-radius: 5px;
    text-align: center;
    font-family: 'Lucida Sans', sans-serif;
    font-size: 21px;
}

.invalidite {
    margin: 5px;
    padding: 3px;
    border: 2px solid rgb(163, 0, 0);
    border-radius: 5px;
    text-align: center;
    font-family: 'Lucida Sans', sans-serif;
    font-size: 21px;
}

.panierVide {
    margin: 5px;
    padding: 3px;
    border: 2px solid rgb(163, 0, 0);
    border-radius: 5px;
    text-align: center;
    font-family: 'Lucida Sans', sans-serif;
    font-size: 21px;
}

.plusQtt {
    margin: 5px;
    padding: 3px;
    border: 2px solid rgb(36, 87, 255);
    border-radius: 5px;
    text-align: center;
    font-family: 'Lucida Sans', sans-serif;
    font-size: 21px;
}

.moinsQtt {
    margin: 5px;
    padding: 3px;
    border: 2px solid rgb(36, 87, 255);
    border-radius: 5px;
    text-align: center;
    font-family: 'Lucida Sans', sans-serif;
    font-size: 21px;
}

.articleRetire {
    margin: 5px;
    padding: 3px;
    border: 2px solid rgb(163, 0, 0);
    border-radius: 5px;
    text-align: center;
    font-family: 'Lucida Sans', sans-serif;
    font-size: 21px;
}

/* .flox {
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;      //pour afficher le menu à côté du tableau
} */